
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Welcome to DenCoin. Let's mine some coins.</h1>
  </div>
  <div class="col-md-1"></div>
</div>



<div class="row mt-20">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12 mt-20">
        <h3>For get money and mine block please puch button below</h3>
        <button type="button" class="btn btn-primary" (click)="mine()">Mine</button>



      </div>
      <div class="col-md-12 mt-20">
        <div class="alert alert-warning " role="alert" [hidden]="!showMessage">
          {{status}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>



